{
    "service": {
        "name": "books-fe",
        "tags": ["service", "front-end"],
        "port": 80,
        "address": "{{ container_ip }}",
        "checks": [{
            "id": "api",
            "name": "Web front-end port 80",
            "http": "http://{{ ip }}",
            "interval": "10s",
            "interval": "1s"
        }]
    }
}