{
    "service": {
        "name": "{{ container_name }}",
        "tags": ["service"],
        "port": 80,
        "address": "{{ ansible_default_ipv4.address }}",
        "checks": [{
            "id": "api",
            "name": "HTTP on port 80",
            "http": "http://{{ ansible_default_ipv4.address }}{{ http_address }}",
            "interval": "10s"
        }]
    }
}